*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header-p{
    color: #f7f7f7;
    width: 626px;
    margin-bottom: 21px;
}

p{
    font-size: 20px;
    color: gray;
    margin: 25px auto;
}

button{
    color: #fff;
    background: #fd842e;
    padding: 5px 20px;
    font-size: 25px;
    box-shadow: 0 0 65px 6px #d6e7e7;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    height: 50px;
    transition: .8s;
    transform-origin: left 5px;
}
button:hover{
    color: #ff6d05;
    background: rgb(255, 255, 255); 

}

button:focus{
    color: rgb(255, 255, 255);
    background: #090807;
    border: 1px solid yellow;

}
.sticky-btn{
    position: sticky;
    top: -250px;
}

.title{
    font-size: 35px;
    font-weight: 700 !important;
}

.description,.p-description{
    font-size: 15px;
    color: gray;
    margin: 25px auto;
    width: fit-content;
}

/* header */
.header-heading{
    padding: 20px;
    
}
header {
    position: sticky;
    z-index: 10;
    text-align: center;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    padding: 10px 0px 0;
    top: -180px;
}

header nav{
    margin: 0px 0;
    text-align: center;
    background: linear-gradient(163deg,transparent, rgb(51 183 51 / 80%) 10%,transparent 30%, red 40% ,transparent55% , #15a980 70%,transparent 100%);
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
nav ul li{
    padding: 22px;
    margin: auto 21px;
}
nav ul li a{
    text-decoration: none;
    font-weight: 900;
    color: white;
}


/* Banner section */
.banner{
    text-align: center;
    background: url(../images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 243px 0;
    top: -621px;
    z-index: 9;
}
.banner-caption{
    width: 600px;
    margin: auto;
    color: #fff;
}
.banner-caption h1{
    color: #fff;
    /* width: 601px; */
    font-size: 52px;
    margin: auto;
}

/* donate today */

.donate-today{
    text-align: center;
    width: 800px;
    margin: 80px auto;
    top: -245px;
    z-index: 7;
}

.fixed-amount{
    display: flex;
    justify-content: center;
    gap: 50px;
    /* height: 91px; */
    /* width: 91px; */
    /* margin: auto; */
}
.fixed-amount .amount{
    border: 1px solid rgb(255, 255, 255);
    padding: 46px 28px;
    font-weight: 700;
    font-size: 20px;
    background-color: #f7f7f7;
    box-sizing: padding-box;
}
.fixed-amount .amount:hover{
    border: 1px solid red;
    
}

.taka-input{
    text-align: center;
    display: block;
    font-size: 20px;
    margin: 40px auto;
    width: 501px;
    padding: 12px 18px;
    border: none;
    box-shadow: 0 0 6px 0px lightgrey;
    height: 39px;
    border-bottom: 1px solid black;
}

/* donate-plan */

.donate-plan{
    width: 830px;
    margin: auto;
    text-align: center;
    top: -139px;
    z-index: 6;
}
.donate-caption{
    margin: auto;
    width: 625px;
}
.plan-box{
    display: flex;
    gap: 25px;
    margin: 40px 0 61px;
    text-align: left;
}

.plan-box .item{
    padding: 35px 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px -1px #7a7a7a;
}
.food{
    background-color: #76acc354;
}
.shelter{
    background-color: #ffd2c6ba;
}
.education{
    background-color: #ddffc6ba;
}


.sub-title{
    margin: 18px 0;
    font-size: 22px;
}

.sub-description{
    text-align: justify;
    font-size: 13px;
    color: #008f6e;
}
i{
    font-family: "Font Awesome 6 Free";
    font-size: 40px;
}


/* Blog section */
.blog-section{
    gap: 50px;
    display: flex;
    width: 825px;
    align-items: center;
    margin: 50px auto 40px;
}

.blog{
    width: 49%;
}

.blog-img{
    width: 49%;
}
.blog-img img{
    max-width: 100%;
    height: 370px;
    object-fit: cover;
    object-position: center;
}


/* Update section */
.update{

width: 626px;

margin: 51px  auto;

text-align: center;

position: sticky;

top: -131px;

z-index: 5;
}


.input{
    
margin: auto;
    
display: flex;
    
text-align: center;
    
width: 702px;
    
align-items: center;
    
justify-content: center;
    
gap: 15px;
    
background-color: #ffbc8887;
    
padding: 51px;
    
border-radius: 10px;
}
.input > input{

width: 309px;

height: 25px;

padding: 22px;

border: none;

box-sizing: border-box;

box-shadow: 0 0 20px 2px gainsboro;
}


/* footer section */

footer{
    background: black;
    color: white;
    margin: 58px 0 0;
    text-align: center;
    padding: 77px;
}

footer em{
    font-family: 'Sevillana', cursive;
    font-size: 30px;
    color: #f36a09;
}

footer a{
    text-decoration: none;
    color: white;
}

/* 
media quary -----------
----------------------- */

@media screen and (max-width:768px){
    .header-p {
        width: fit-content;
        font-size: 15px;
    }
    h1{
        font-size: 25px;
    }
    header nav {
        margin: -47px 0 0 0;
    }
    .banner-caption {
        width: fit-content;
        padding:5px 10px;
    }
    .banner-caption h1 {
        
        font-size: 25px;
            }
    button{
        font-size: 16px;
        height: 40px;
    }

    .title {
        font-size: 25px;
       
    }
    .donate-today{
        width: fit-content ;
    }
    .fixed-amount {
        gap: 10px;
    }
    .fixed-amount .amount {
        
        padding: 15px;
        
        font-size: 15px;
        box-sizing: border-box;
    }
    .description {
        margin: 20px 30px;
        font-size: 15px;
        width: fit-content;
    }
    .p-description {
        margin: 20px 0px;
        font-size: 15px;
        width: fit-content;
    }
    .taka-input {
       
        width: fit-content;
        padding: 0px 50px;
       
    }

    .donate-plan {
        width: fit-content;
    }
    .donate-caption {
        width: fit-content;
    }
    .plan-box {       
        margin: 30px;
        flex-direction: column;
    }


    .blog-section {
        width: fit-content;
        flex-direction: column-reverse;
    }
    .second-blog{
        flex-direction: column !important;
    }
    .blog {
        width: 90%;
    }
    .blog-img {
        width: 90%;
        text-align: center;
        margin:0 30px;
    }
    .blog-img img {
        width: 100%;
        height: 351px;
        object-fit: cover;
    }
    .update{
        width: fit-content;
    }
    .input {

        flex-direction: column;
    
        width: fit-content;
       
        gap: 15px;
      
    }
    
}